.produtos{
    background: #0D0D0D;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.produtos h1{
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 600;
    font-size: 3rem;
    padding-top: 60px;
    padding-bottom: 20px;
    color: #FFF5CF;
}

.bugueres{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    
}
    
.bugueres img{
    width: 600px;
    height: 400px;
    box-shadow: 5px 5px 4px #241615;
    border-radius: 5px;
    
}

.produto{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.produto h3{
    font-family: 'Roboto slab';
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFF5CF;
    border-left: #F28507 solid 2px;
}

.produto p {
    font-family: 'Roboto slab';
    font-weight: 300;
    font-size: 1rem;
    color: #FFF5CF;
    
}



@media screen and (max-width:600px) {
   .img-produto{
     margin: 0;
   }
   
   .produto{
    margin: 0;
   }

   .produto h3{
    margin-left: 20px;
   }

   .produto p {
    text-align: center;
    margin-bottom: 20px;
   }
}